---
import Counter from "../components/Counter";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
	<div class="relative overflow-hidden bg-white">
		<div class="mx-auto max-w-7xl">
			<div class="relative z-10 bg-white pb-8 sm:pb-16 md:pb-20 lg:w-full lg:max-w-2xl lg:pb-28 xl:pb-32">
				<svg class="absolute inset-y-0 right-0 hidden h-full w-48 translate-x-1/2 transform text-white lg:block" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
					<polygon points="50,0 100,0 50,100 0,100" />
				</svg>
				<div class="relative px-4 pt-6 sm:px-6 lg:px-8">
					<nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
						<div class="flex flex-shrink-0 flex-grow items-center lg:flex-grow-0">
							<div class="flex w-full items-center justify-between md:w-auto">
								<a href="#">
									<span class="sr-only">Creative Spaces</span>
									<!-- Heroicon name: solid/rectangle-group -->
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-8 w-auto sm:h-10 fill-indigo-600">
										<path fill-rule="evenodd" d="M1.5 7.125c0-1.036.84-1.875 1.875-1.875h6c1.036 0 1.875.84 1.875 1.875v3.75c0 1.036-.84 1.875-1.875 1.875h-6A1.875 1.875 0 011.5 10.875v-3.75zm12 1.5c0-1.036.84-1.875 1.875-1.875h5.25c1.035 0 1.875.84 1.875 1.875v8.25c0 1.035-.84 1.875-1.875 1.875h-5.25a1.875 1.875 0 01-1.875-1.875v-8.25zM3 16.125c0-1.036.84-1.875 1.875-1.875h5.25c1.036 0 1.875.84 1.875 1.875v2.25c0 1.035-.84 1.875-1.875 1.875h-5.25A1.875 1.875 0 013 18.375v-2.25z" clip-rule="evenodd" />
									</svg>
								</a>
							</div>
						</div>
					</nav>
				</div>
	
				<main class="mx-auto mt-10 max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
					<div class="sm:text-center lg:text-left">
						<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
							<span class="block xl:inline">Creative Spaces</span>
							<span class="block text-indigo-600 xl:inline">for enthusiasts</span>
						</h1>
						<p class="mt-3 text-base text-gray-500 sm:mx-auto sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl lg:mx-0">The web is for everyone. Unleash your creative potential.</p>
						<div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
							<div class="rounded-md shadow">
								<a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-lg">Submit an idea</a>
							</div>
							<div class="mt-3 sm:mt-0 sm:ml-3">
								<a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-100 px-8 py-3 text-base font-medium text-indigo-700 hover:bg-indigo-200 md:py-4 md:px-10 md:text-lg">See projects</a>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
		<div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
			<img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:h-full lg:w-full" src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="">
		</div>
	</div>
	<div class="bg-white py-12">
		<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
			<div class="lg:text-center">
				<h2 class="text-lg font-semibold text-indigo-600">Our mission</h2>
				<p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Provide a safe space to be creative</p>
				<p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">A sandbox environment to test new ideas, get feedback, or simply just to be creative.</p>
			</div>
	
			<div class="mt-10">
				<dl class="space-y-10 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 md:space-y-0">
					<div class="relative">
						<dt>
							<div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white">
								<!-- Heroicon name: outline/bolt -->
								<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
								</svg>
							</div>
							<p class="ml-16 text-lg font-medium leading-6 text-gray-900">Unleash your creativity</p>
						</dt>
						<dd class="mt-2 ml-16 text-base text-gray-500">Have you wanted to dive deeper into CSS-only animations? Or have you wondered what the limits of building something using no JavaScript?</dd>
					</div>
	
					<div class="relative">
						<dt>
							<div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white">
								<!-- Heroicon name: outline/light-bulb -->
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
								</svg>
							</div>
							<p class="ml-16 text-lg font-medium leading-6 text-gray-900">Tinker and experiment</p>
						</dt>
						<dd class="mt-2 ml-16 text-base text-gray-500">What if you replaced React for another framework? How does that impact developer experience and user experience in ways that you care?</dd>
					</div>
	
					<div class="relative">
						<dt>
							<div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white">
								<!-- Heroicon name: outline/wrench-screwdriver -->
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
								</svg>
								
							</div>
							<p class="ml-16 text-lg font-medium leading-6 text-gray-900">Bring your own project</p>
						</dt>
						<dd class="mt-2 ml-16 text-base text-gray-500">Have you been sitting on an App idea for a while? Like a dating app for Chinchillas or a 3D game in React?</dd>
					</div>
	
					<div class="relative">
						<dt>
							<div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white">
								<!-- Heroicon name: outline/chat-bubble-bottom-center-text -->
								<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
								</svg>
							</div>
							<p class="ml-16 text-lg font-medium leading-6 text-gray-900">Collaborate</p>
						</dt>
						<dd class="mt-2 ml-16 text-base text-gray-500">Work with someone on a project they&apos;ve already have started.</dd>
					</div>
				</dl>
			</div>
		</div>
	</div>
</BaseLayout>
